.chatMenu {
    height: calc(100vh - 150px);
    width: 260px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
}

.chatMenu.dark {

    background-color: #3e3e42;
}