.product-card {
    flex: 0 0 130px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    transition: box-shadow 0.3s ease-in-out;
    margin: 14px;
}

.product-card:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
  
.product-card a,
.product-card a:visited,
.product-card a:hover,
.product-card a:active {
    color: inherit;
    text-decoration: none;
  }

.product-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-card .product-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px 10px 0px 10px;
}

.product-card .product-info .product-name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
}

.product-card .product-info .product-description {
    font-size: 14px;
    margin-bottom: 10px;
}

.product-card .product-info .product-price {
    font-size: 14px;
    color: #777;
}